** { box-sizing: border-box; }

#main-container {
  display: grid;
}

#mapa {
  position: relative;
  grid-column: 1 / 2;
  width: 1130px;
  height: 890px;
 }

#foto-mapa img {
  width: 1130px;
  height: 890px;
}

#selectores { grid-column: 2 / 3; }

/* Nombre de las Ubicaciones */
.ubicacion {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 0.75em;
  text-shadow: 2px 2px 4px #000000;
}

/* Este código hace que todas las capas midan lo mismo
que la imagen y se puedan distribuir con el top, left y no
se descuadre con el zoom */
#Ubicaciones, #Camiones, #Mejoras {
  position: absolute;
  width: 1130px;
  height: 890px;
  top: 0;
  left: 0;
}

#parque-placentero {
  top: 245px;
  right: 630px;
}

#señorio-de-la-sal {
  top: 400px;
  right: 650px;
}

#setos-sagrados {
  top: 490px;
  right: 770px;
}

#alameda-afligida {
  top: 550px;
  right: 680px;
}

#arenas-ardientes {
  top: 340px;
  right: 755px;
}

#finca-frenesi {
  top: 345px;
  right:320px;
}

#acantilados-arenosos {
  top: 125px;
  right: 330px;
}

#acumulaciones-airadas {
  top: 175px;
  right: 135px;
}

#muelles-mugatentos {
  top: 400px;
  right: 60px;
}

#la-gruta {
  top: 515px;
  right: 75px;
}

#ciudad-comercio {
  top: 575px;
  right: 200px;
}

#la-agencia {
  top: 425px;
  right: 605px;
}

#el-tiburon {
  top: 95px;
  right: 790px;
}

#la-plataforma {
  top: 705px;
  right: 775px;
}

#pantano-pegajoso {
  top: 650px;
  right: 645px;
}

#campo-caligine {
  top: 740px;
  right: 550px;
}

#albercas-adormecidas {
  top: 600px;
  right: 500px;
}


.camion, .mejora {
  position: relative;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  border-radius: 5%;
  z-index: 4;
  cursor: pointer;
}

.camion {
  background-color: yellow;
  background-image: url("images/truck.png");
}

.mejora {
  background-color: red;
  background-image: url("images/machine.png");
}

/* Pop up con la foto: */
.popup {
  position: relative;
  top: 16px;
  left: 16px;
  border: thin solid #dadada;
  border-radius: 10px;
  background-color: white;
  padding: 7px;
  display: none;
  width: 400px;

}

.popup img {
  z-index: 5;
  width: 400px;
  height: auto;
}

/* ubicación de los camiones */
#camion1 {
  top: 690px;
  left: 870px;
}

#camion2 {
  top: 660px;
  left: 440px;
}

#camion3 {
  top: 300px;
  left: 455px;
}

#camion4 {
  top: 170px;
  left: 660px;
}

#camion5 {
  top: 300px;
  left: 130px;
}

#camion6 {
  top: 130px;
  left: 837px;
}

#camion7 {
  top: 415px;
  left: 825px;
}

/* Las mejoras de Armas */
#mejoras1 {
  top: 215px;
  left: 515px;
}











/* Aquí el código del menú de selección */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
